* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width:100%;
    height: 100%;
}

.main__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
}

.navSecond {
    display: none;
}

.logo {
    flex: 15%;
}

.imglogo {
    padding-top: 30px;
    width: 70%;
    margin:0 auto;
}

.imglogo img {
    width: 100%;
}

.main__img {
    overflow: hidden;
    flex:44%;
    height:950px;
}

.main__img img{
    width:100%;
}

.navFirst {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:90%;
    text-decoration:none;
    position:relative;
    margin:0 auto;
    top:-820px;
}

.navFirst a {
    text-decoration: none;
    font-size:1.8em ;
    color:white;
    font-weight: bold;
}

.navFirst a:hover {
    color:#a27446;
}

/*----navbar hidden---*/

#navbar {
    width:100%;
    height: 80px;
    top:-150px;
    overflow:hidden;
    background-color:#a27446;
    position: fixed;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    transition: top 0.3s;
}

#logohidden {
    flex: 10%;
    overflow:hidden;
}

#logohidden svg{
    padding-top: 5px;
    padding-left:40px ;
}

#navBar {
    flex: 80%;
    overflow: hidden;
}

#navBar nav {
   padding-top: 20px;
   width:60%;
   margin-left:100px;
   display: flex;
   justify-content: space-around;
}

#navBar a {
   
    text-decoration: none;
    font-size:1.8em ;
    color:white;
    font-weight: bold;
}

/*-navbar mobile*/

.device {
	position: relative;
	width: 345px;
	height: 220px;
    display: none;
}

.container {
	position: absolute;
	top:0px; right: 0px;
	bottom: 0; left: 0;
	overflow: hidden;
    z-index: 100;
}
/*style nav*/
.main-nav {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: white;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 2;
    visibility: visible;
}


.main-nav::before {
	content: '';
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8d3d5b;
    transform-origin: 0 0;
    transition: all .275s .1s;
   
}
/* nav ul style*/
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; 
    justify-content: center;
    margin-top:0px ;
    
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: left;
  
}


.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(50px);
    transform:translateX(-50px);
}

.main-nav ul, .main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px ;
	color: white;
	font-size: 1.6em;
	text-decoration: none;
	font-weight: bold;
}

.main-nav a:hover{
    color:#00abbb;
}

.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 3;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
/*simbolo nav */
.burger {
	position: relative;
    display: block;
    right:20px;
    top:50px;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background:#8d3d5b;
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #8d3d5b;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px)  ;
}

.burger:before {
	transform: translateY(-16px) ;
}

.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg) ; background-color:#a27446;
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg); background-color:#a27446;
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}
/*termina burger menu*/

#redSocial {
    flex: 10%;
    overflow: hidden;
}

#redSocial >.facebook  {
    margin-bottom:10px ;
    stroke:#fff;
    fill:transparent;
    width:50px;
    height:50px;
    background-color: #a27446;
}

#redSocial >.instagram {
    padding-top:5px ;
    width:70px;
    height: 70px;
}

.main__cta {
    flex:41%;
    overflow: hidden;
}

.red {
    padding-top: 80px;
    margin-left: 60%;
    width:40%;
}

#red {
    margin-left:10px ;
}

.red svg:hover {
    opacity: 0.9;
}

.main__text {
    width:80%;
    margin:0 auto;
}

h1 {
    width:100%;
    font-size:6em;
    color:#a27446; 
    padding-bottom:30px ;
    padding-top: 70px;
}

.main__text p {
    font-size:2.6em ;
    padding-bottom:50px ;
}

.main__text button {
    color:#8d3d5b;
    font-size:1.7em ;
    border: none;
    padding:8px;
    background-color:white ;
    border-top: 5px solid #a27446;
    border-bottom: 5px solid  #a27446;
}

.main__text button:hover{
    border-bottom: 5px solid  #8d3d5b;
    border-top: 5px solid #8d3d5b;
}

/*-------------start second contain------------*/

.second__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
}

.log {
    flex: 15%; 
}

.second__img {
    flex:44%;
}

#second_img {
    width: 70%;
    margin:0 auto;
    padding-top: 100px;
}

.location {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.locationSvg {
    flex:30%;
    text-align: center;
}

.locationTexto {
    flex:70%;
}

.locationTexto p {
    font-size: 1.4em;
    width: 70%;
    line-height: 34px;
}

.locationTexto span {
    color:#a27446;
}

.locationSvg svg {
    width: 70px;
    height: 70px;
    fill:#8d3d5b;
    stroke: #8d3d5b;
}


.second__text {
    flex:41%;
}

.second__text img {
    width:100%;
    margin-top:-80px ;
    margin-left: -50px;
}


/*-----start third contain------*/

.dona svg {
    stroke:#8d3d5b;
    width:140px;
    height:140px;
}

.cake svg {
    width:150px;
    height: 150px;
}

.drive svg {
    stroke:#8d3d5b;
    fill:#8d3d5b;
    width:200px;
    height:200px;
    z-index:1;
}

.third__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}

.third__contain > div {
    text-align: center;
}

.cake, .dona, .drive {
    flex:auto;
}

.cake, .dona, .drive {
   padding-top: 110px;
}

.cake h3, .dona h3, .drive h3 {
    color:#a27446;
    font-size: 1.3em;
}

.cake p, .dona p, .drive p { 
     width:410px;
     font-size:1.6em ;
     margin: 0 auto;
     color:#494646;
     text-align:center;
}

.cake h3, .dona h3 {
    padding-top:30px ;
    padding-bottom:20px ;
}

.drive h3 {
   margin-top: -30px;
   padding-bottom: 20px;
}

/*inicia forth contain*/

.forth__contain {
    padding-top: 160px;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}

.ice__img { 
   flex:44%;
   overflow: hidden;
}

.ice__img img {
    width:100%;
}

.about {
    flex:41%;
    overflow: hidden;
}

.about h2 {
    margin-top: 110px;
    font-size: 6em;
    color:#a27446;
    padding-left: 70px;
    padding-bottom: 30px;
}

.about p {
    margin:0 auto;
    width: 80%;
    font-size: 2.3em;
    color:#494646;
}

/*----inicia fith contain------*/

.fith__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    padding-bottom: 130px;
}

.chef {
    flex:44%;
    
}

.img__chef {
    flex: 41%;
}

.img__chef img {
    margin-left: -40px;
    margin-top: -40px;
    width:100%;
}

.chef h2 {
    padding-top: 50px;
    font-size: 6em;
    width: 80%;
    margin:0 auto;
    color:#8d3d5b;
    text-align: center;
    padding-bottom: 20px;
}

.chef p {
    margin:0 auto;
    width: 70%;
    font-size: 2.3em;
    color:#494646;
}

/*---inicia sixth contain------------*/

.sixth__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    height: auto;
    background: rgb(141,61,91);
    background: -moz-linear-gradient(top, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(141,61,91)), color-stop(88%, rgb(141,61,91)), color-stop(93%, rgb(158,89,115)), color-stop(100%, rgb(255,255,255)));
    background: -webkit-linear-gradient(top, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    background: -o-linear-gradient(top, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    background: -ms-linear-gradient(top, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    background: linear-gradient(to bottom, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d3d5b', endColorstr='#ffffff', GradientType=0 );
}

.title {
    flex:100%; 
    margin:0 auto; 
    text-align: center;
}

.title h2 {
    padding-top: 40px;
    margin:0 auto;
    font-size: 6em;
    color:#FFF;
    padding-bottom: 50px;
}

.menu {
    flex:50%;
    padding-top: 20px;
}

#menu {
    width: 70%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.dessert {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dessert_svg {
    flex:20%;
    text-align: center;
}

.dessert_svg svg {
    width: 80px;
    height: 80px;
    fill:#fff;
}

.dessert_text {
    flex:80%;
}

.dessert_text p {
    width: 90%;
    margin:0 auto;
    color:#fff;
    font-size: 2em;
    font-weight: bolder;
}

 .dot {
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.active svg, .active  {
   fill:#a27446;
}

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
  }
  
 
.sixth__contain button {
    margin-top:60px ;
    margin-left:30% ;
    color:#8d3d5b;
    font-size: 2em;
    padding:17px 35px 17px 35px;
    border:5px solid #a27446;
    font-weight: bold;
}

.sixth__contain button:hover {
    color:#a27446;
}

.img__menu {
    flex: 50%;
    padding-bottom: 110px;
    overflow: hidden;
}


.img_dessert {
    width: 96%;
    margin:0 auto;
    display: none;
}

.img__menu img {
    width:100%;
}


/*---inicia seventh contain---*/

.seventh__contain {
    padding-top: 150px;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}

.contact {
    flex:50%;
}

.contact__img {
    margin:0 auto;
    width:700px;
}

.contact img {
    width:100%;
}

.formulary {
    flex:50%;
    margin-bottom: 50px;

}

.info h2 {
    text-align: center;
    font-size: 6em;
    margin-top: -660px;
    color:white;
}

.infoTwo {
    width:80%;
    position: relative;
    top:50px;
    left:70px;
}

#infoTwo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info_food {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.info_foodSvg {
    flex:20%;
    text-align: center;
}

.info_foodSvg svg {
    width: 70px;
    height: 70px;
    fill:#fff;
}

.info_foodSvg svg path {
    stroke: #fff;
}

.info_foodTexto {
    flex:80%;
}

.info_foodTexto p {
    color:#fff;
    font-size: 1.3em;
    width: 90%;
    font-weight: 600;
}

.formulary h2 {
    padding-top: 160px;
    font-size: 6.3em;
    font-weight: bolder;
    text-align: center;
    color:#8d3d5b;
    padding-bottom:30px ;
}

.formm {
    width:80%;
    margin:0 auto;
}


label {
    color:#a27446;
    font-size: 1.8em;
    font-weight: bolder;
}

input[type=text] {
    margin-top:5px ;
    background: transparent;
    box-sizing: border-box;
    width:95%;
    padding:10px;
    margin-bottom:50px;
    border:none;
    border-bottom: 5px solid #8d3d5b;
}

input[type=submit] {
    width: 30%;
    margin-left: 34%;
    font-weight: bolder;
    background-color: white;
    color: #8d3d5b;
    font-size:1.8em ;
    padding:15px 45px 15px 45px;
    border: 4px solid #a27446; 
    text-align: center;
}

input[type=submit]:hover {
    color:#a27446;
}

textarea {
    background-color: transparent;
    resize: none;
    width:95%;
    height:250px;
    border:none;
    border-bottom: 5px solid #8d3d5b;
    margin-bottom:40px;
}

/*---inicia footer----*/

footer {
    margin-top: 150px;
    background-color: #8d3d5b;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    display: flex;
}

.log {
    flex:15%;
}

.lg {
    width:70%;
    margin: 0 auto;
}

.lg img {
    width:100%;
}

.siteLink {
    flex: 30%;
}

#siteLink, #references {
    width:50%;
    margin: 0 auto;
    padding-bottom:80px ;
}

#siteLink h3, #references h3 {
    padding-top: 100px;
    font-size:2em ;
    color:white;
    padding-bottom:20px ;
    font-weight: bolder;
}

#siteLink h4, #references h4 {
    padding-bottom: 11px;
    font-size: 1.6em;
    color:white;
}

.references {
    flex:30%;
}


.social {
    flex:25%;
}

#social {
    margin-top:260px ;
   margin-left: 50%;
}

.copy {
    border-top: 5px solid #fff;
    padding: 20px;
    flex:100%;
    text-align: center;
    color:white;
}

@media only screen and (min-width: 1600px) and (max-width:1639px) {
   .navFirst {
       top:-700px;
   }

   .main__img {
       height: 810px;
   }

   h1 {
       font-size: 5em;
   }

   .main__text p {
       font-size: 2.1em;
   }

   /*forth contain-*/

   .about h2 {
       margin-top: 0px;
       width: 80%;
       margin:0 auto;
       padding-left: 0px;
       padding-top: 30px;
   }

   .about p {
       font-size: 2.1em;
       color:#494646;
   }

   /*--fith contain--*/
   
   .chef p {
       font-size: 2.1em;
   }
}

@media only screen and (min-width: 1500px) and (max-width:1599px) {
    .navFirst {
        top:-660px;
    }
 
    .main__img {
        height: 750px;
    }
 
    h1 {
        padding-top: 20px;
        font-size: 4.8em;
    }
 
    .main__text p {
        font-size: 2.1em;
    }

    /*----second contain---*/

    #second_img {
        padding-top: 70px;
    }

    .locationTexto p {
        width: 86%;
    }
 
    /*forth contain-*/
 
    .about h2 {
        margin-top: 0px;
        width: 80%;
        font-size: 5em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 50px;
        padding-bottom: 20px;
    }
 
    .about p {
        font-size: 2em;
        color:#494646;
    }
 
    /*--fith contain--*/

    .chef h2 {
        font-size: 5em;
    }
    
    .chef p {
        font-size: 2em;
    }

    /*---sixth contain----*/
    #menu {
        width: 80%;
    }

    .dessert_text p {
        width: 100%;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 94%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 24%;
    }

    /*formulary ---*/

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1400px) and (max-width:1499px) {
    .red {
        padding-top: 40px;
    }

    .navFirst {
        top:-630px;
    }
 
    .main__img {
        height: 750px;
    }
 
    h1 {
        padding-top: 10px;
        font-size: 4.3em;
    }
 
    .main__text p {
        font-size: 2em;
    }

    /*----second contain---*/

    #second_img {
        padding-top: 30px;
    }

    .locationTexto p {
        width: 86%;
    }
 
    /*forth contain-*/
 
    .about h2 {
        margin-top: 0px;
        width: 80%;
        font-size: 5em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 50px;
        padding-bottom: 20px;
    }
 
    .about p {
        font-size: 1.9em;
        color:#494646;
    }
 
    /*--fith contain--*/

    .chef h2 {
        font-size: 5em;
    }
    
    .chef p {
        font-size: 1.9em;
    }

    /*---sixth contain----*/
    #menu {
        width: 90%;
    }

    .dessert_text p {
        width: 100%;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 94%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 24%;
    }

    /*formulary ---*/

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1300px) and (max-width:1399px) {

    .navFirst a {
        font-size: 1.6em;
    }

    .red {
        padding-top: 40px;
    }

    .navFirst {
        top:-590px;
    }

    .main__text {
        width: 90%;
    }
 
    .main__img {
        height: 660px;
    }
 
    h1 {
        padding-top: 10px;
        font-size: 4.3em;
    }
 
    .main__text p {
        font-size: 2em;
    }

    /*----second contain---*/

    #second_img {
        padding-top: 30px;
    }

    .locationTexto p {
        width: 86%;
    }
 
    /*forth contain-*/
 
    .about h2 {
        margin-top: 0px;
        width: 86%;
        font-size: 5em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
 
    .about p {
        font-size: 1.7em;
        color:#494646;
    }
 
    /*--fith contain--*/

    .chef h2 {
        font-size: 5em;
        padding-bottom: 10px;
    }
    
    .chef p {
        font-size: 1.7em;
    }

    /*---sixth contain----*/
    #menu {
        width: 96%;
    }

    .dessert_text p {
        width: 100%;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 94%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 24%;
    }

    /*formulary ---*/

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1200px) and (max-width:1299px) {

    .navFirst a {
        font-size: 1.4em;
    }

    .red {
        width: 60%;
        margin-left: 50%;
        padding-top: 40px;
    }

    .navFirst {
        top:-530px;
    }

    .main__text {
        width: 90%;
    }
 
    .main__img {
        height: 660px;
    }
 
    h1 {
        padding-top: 10px;
        font-size: 4.3em;
    }
 
    .main__text p {
        font-size: 1.9em;
        padding-bottom: 30px;
    }

    .main__text button {
        font-size: 1.5em;
    }

    /*----second contain---*/

    #second_img {
        padding-top: 20px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1.3em;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:410px;
        font-size:1.4em ;
        margin: 0 auto;
        color:#494646;
        text-align:center;
   }

    /*forth contain-*/
 
    .about h2 {
        margin-top: 0px;
        width: 90%;
        font-size: 4.6em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
 
    .about p {
        font-size: 1.6em;
        color:#494646;
    }
 
    /*--fith contain--*/

    .chef h2 {
        font-size: 4.6em;
        padding-bottom: 10px;
    }
    
    .chef p {
        font-size: 1.6em;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 5em;
    }

    #menu {
        width: 96%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 1.6em;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 94%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 20%;
        margin-top: 40px;
        font-size: 1.7em;
    }

    /*formulary ---*/

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1100px) and (max-width:1199px) {
    #navBar {
        flex:70%;
    }

    #navBar nav {
        align-items: center;
    }

    #navBar a {
        font-size:1.4em;
    }

    #redSocial {
        flex:20%;
    }

    .navFirst a {
        font-size: 1.4em;
    }

    .red {
        width: 60%;
        margin-left: 50%;
        padding-top: 40px;
    }

    .navFirst {
        top:-500px;
    }

    .main__text {
        width: 90%;
    }
 
    .main__img {
        height: 600px;
    }
 
    h1 {
        padding-top: 0px;
        font-size: 3.9em;
        padding-bottom: 20px;
    }
 
    .main__text p {
        font-size: 1.7em;
        padding-bottom: 30px;
    }

    .main__text button {
        font-size: 1.5em;
    }

    /*----second contain---*/

    #second_img {
        width: 80%;
        padding-top: 10px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1.3em;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:410px;
        font-size:1.3em ;
        margin: 0 auto;
        color:#494646;
        text-align:center;
   }

    /*forth contain-*/
 
    .about h2 {
        margin-top: 0px;
        width: 90%;
        font-size: 4.6em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
 
    .about p {
        font-size: 1.4em;
        color:#494646;
    }
 
    /*--fith contain--*/

    .chef h2 {
        font-size: 4.6em;
        padding-bottom: 10px;
    }
    
    .chef p {
        font-size: 1.4em;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 5em;
    }

    #menu {
        width: 96%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 1.6em;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 94%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 20%;
        margin-top: 40px;
        font-size: 1.7em;
    }

    /*---seventh contain ---*/

    .info h2 {
        font-size: 5em;
    }

    .formulary h2 {
        padding-top: 220px;
        font-size: 5em;
    }

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1000px) and (max-width:1099px) {
    #navBar {
        flex:70%;
    }

    #navBar nav {
        align-items: center;
    }

    #navBar a {
        font-size:1.2em;
    }

    #redSocial {
        flex:20%;
    }

    .navFirst a {
        font-size: 1.4em;
    }

    .imglogo {
        padding-top: 20px;
        width: 80%;
    }

    .red {
        width: 60%;
        margin-left: 46%;
        padding-top: 10px;
    }

    .navFirst {
        top:-450px;
    }

    .main__text {
        width: 90%;
    }
 
    .main__img {
        height: 530px;
    }
 
    h1 {
        padding-top: 0px;
        font-size: 3.5em;
        padding-bottom: 20px;
    }
 
    .main__text p {
        font-size: 1.5em;
        padding-bottom: 30px;
    }

    .main__text button {
        font-size: 1.2em;
    }

    /*----second contain---*/

    #second_img {
        width: 90%;
        padding-top: 10px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1.1em;
    }

    .second__text img {
        margin-left: -30px;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:410px;
        font-size:1.1em ;
        margin: 0 auto;
        color:#494646;
        text-align:center;
   }

    /*forth contain-*/
 
    .about h2 {
        margin-top: 0px;
        width: 90%;
        font-size: 4em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
 
    .about p {
        font-size: 1.2em;
        color:#494646;
    }
 
    /*--fith contain--*/

    .chef h2 {
        font-size: 4em;
        padding-bottom: 10px;
    }
    
    .chef p {
        font-size: 1.2em;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 5em;
    }

    #menu {
        width: 96%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 1.6em;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 94%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 20%;
        margin-top: 40px;
        font-size: 1.4em;
    }

    /*---seventh contain ---*/

    .info h2 {
        font-size: 5em;
    }

    .formulary h2 {
        padding-top: 220px;
        font-size: 5em;
    }

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }

    /*footer*/

    #siteLink h3, #references h3 {
        padding-top: 100px;
        font-size:1.5em ;
        padding-bottom:20px ;
    }
    
    #siteLink h4, #references h4 {
        padding-bottom: 11px;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 900px) and (max-width:999px) {
    #logohidden svg {
        padding-left: 20px;
    }

    #navBar {
        flex:70%;
    }

    #navBar nav {
        align-items: center;
    }

    #navBar a {
        font-size:1.2em;
    }

    #redSocial {
        flex:20%;
    }

    .navFirst a {
        font-size: 1.2em;
    }

    .imglogo {
        padding-top: 20px;
        width: 80%;
    }

    .red {
        width: 60%;
        margin-left: 40%;
        padding-top: 10px;
    }

    .navFirst {
        top:-400px;
    }

    .main__text {
        width: 92%;
    }
 
    .main__img {
        height: 460px;
    }
 
    h1 {
        padding-top: 0px;
        font-size: 3.2em;
        padding-bottom: 10px;
    }
 
    .main__text p {
        font-size: 1.4em;
        padding-bottom: 30px;
    }

    .main__text button {
        font-size: 1.2em;
    }

    /*----second contain---*/

    #second_img {
        width: 96%;
        padding-top: 10px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1em;
    }

    .second__text img {
        margin-left: -20px;
        margin-top: -40px;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:410px;
        font-size:1em ;
        text-align:center;
   }

    /*forth contain-*/
 
    .about h2 {
        margin-top: 0px;
        width: 90%;
        font-size: 3.4em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
 
    .about p {
        font-size: 1.2em;
        color:#494646;
    }
 
    /*--fith contain--*/

    .chef h2 {
        padding-top: 20px;
        font-size: 3.4em;
        padding-bottom: 10px;
    }
    
    .chef p {
        font-size: 1.2em;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 4em;
        padding-bottom: 0px;
    }

    #menu {
        width: 96%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 1.2em;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 96%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 18%;
        margin-top: 40px;
        font-size: 1.2em;
    }

    /*---seventh contain ---*/
     .contact {
         flex: 100%;
     }

     .formulary {
         padding-top: 100px;
         flex: 100%;
     }

    .info h2 {
        font-size: 4em;
    }

    .infoTwo p {
        font-size: 1.3em;
    }

    .formulary h2 {
        font-size: 4em;
    }

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }

    /*footer*/

    #siteLink h3, #references h3 {
        padding-top: 100px;
        font-size:1.5em ;
        padding-bottom:20px ;
    }
    
    #siteLink h4, #references h4 {
        padding-bottom: 11px;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 800px) and (max-width:899px) {
    #logohidden svg {
        padding-left: 10px;
    }

    #navBar {
        flex:70%;
    }

    #navBar nav {
        align-items: center;
    }

    #navBar a {
        font-size:1.2em;
    }

    #redSocial {
        flex:20%;
    }

    .navFirst a {
        font-size: 1.2em;
    }

    .imglogo {
        padding-top: 20px;
        width: 80%;
    }

    .red {
        width: 80%;
        margin-left: 30%;
        padding-top: 10px;
    }

    .navFirst {
        top:-360px;
    }

    .main__text {
        width: 92%;
    }
 
    .main__img {
        height: 410px;
    }
 
    h1 {
        padding-top: 0px;
        font-size: 2.9em;
        padding-bottom: 10px;
    }
 
    .main__text p {
        font-size: 1.2em;
        padding-bottom: 20px;
    }

    .main__text button {
        font-size: 1.2em;
    }

    /*----second contain---*/

    #second_img {
        width: 96%;
        padding-top: 0px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1em;
    }

    .second__text img {
        margin-left: -20px;
        margin-top: -40px;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:410px;
        font-size:1em ;
        text-align:center;
   }

    /*forth contain-*/
 
    .about h2 {
        margin-top: 0px;
        width: 88%;
        font-size: 3em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
 
    .about p {
        font-size: 1.1em;
        color:#494646;
    }
 
    /*--fith contain--*/

    .chef h2 {
        padding-top: 20px;
        font-size: 3.4em;
        padding-bottom: 10px;
    }
    
    .chef p {
        font-size: 1.1em;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 4em;
        padding-bottom: 0px;
    }

    #menu {
        width: 100%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 1em;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 94%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 16%;
        margin-top: 40px;
        font-size: 1em;
    }

    /*---seventh contain ---*/
     .contact {
         flex: 100%;
     }

     .formulary {
         padding-top: 100px;
         flex: 100%;
     }

    .info h2 {
        font-size: 4em;
    }

    .infoTwo p {
        font-size: 1.3em;
    }

    .formulary h2 {
        font-size: 4em;
    }

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }

    /*footer*/

    #siteLink h3, #references h3 {
        padding-top: 100px;
        font-size:1.5em ;
        padding-bottom:20px ;
    }
    
    #siteLink h4, #references h4 {
        padding-bottom: 11px;
        font-size: 1.3em;
    }

    #social {
        width: 30%;
        margin-top: 80%px;
        margin-left: 34%;
    }

    #social img {
        width: 100%;
    }
}

@media only screen and (min-width: 700px) and (max-width:799px) {
    #navbar {
        display: none;
    }

    .device {
        display: block;
    }

    .container {
        top:-160px;
        right: -300px;
    }

    #navBar a {
        font-size:1.2em;
    }

    .logo {
        flex:100%;
        height: 150px;
    }

    .imglogo {
        padding-top: 0px;
        width: 22%;
        margin-left: 6%;
    }

    .main__img {
        flex: 100%;
        height: 550px;
    }

    #main__img {
        width: 90%;
        margin: 0 auto;
    }

    #main__img img {
        width: 100%;
    }

    .main__cta {
        flex: 50%;
    }

    .navFirst {
        display: none;
        top:-700px;
    }


    .red {
        display: none;
        width: 80%;
        margin-left: 66%;
        padding-top: 10px;
    }


    .main__text {
        width: 92%;
        text-align: center;
    }
 
 
    h1 {
        padding-top: 30px;
        font-size: 3.4em;
        padding-bottom: 10px;
    }
 
    .main__text p {
        width: 80%;
        margin:0 auto;
        font-size: 1.4em;
        padding-bottom: 20px;
    }

    .main__text button {
        padding: 12px;
        font-size: 1.4em;
    }

    /*----second contain---*/
    .log {
        flex: 100%;
    }

    .second__img {
        flex: 50%;
    }

    .second__text {
        flex: 100%;
    }

    #second_img {
        width: 96%;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1em;
    }

    .second__text img {
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:410px;
        font-size:1em ;
        text-align:center;
   }

    /*forth contain-*/
    .ice__img {
        flex:100%;
    }

    .ice__img img {
        width: 90%;
        margin-left: 5%;
    }

    .about {
        flex: 100%;
        text-align: center;
    }
 
    .about h2 {
        margin-top: 0px;
        width: 88%;
        font-size: 3.6em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
 
    .about p {
        width: 76%;
        font-size: 1.2em;
        color:#494646;
    }
 
    /*-- fith contain--*/
    .fith__contain {
        padding-bottom: 80px;
    }
    .chef {
        flex: 100%;
        order: 2;
        text-align: center;
    }

    .img__chef {
        padding-top: 50px;
        flex:100%;
        order: 1;
    }

    .img__chef img {
        width: 90%;
        margin-top: 0px;
        margin-left: 5%;
    }

    .chef h2 {
        padding-top: 30px;
        font-size: 3.6em;
        padding-bottom: 10px;
    }
    
    .chef p {
        width: 76%;
        font-size: 1.2em;
        color:#494646;
        padding-bottom: 0px;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 4em;
        padding-bottom: 0px;
    }

    .menu {
        flex:100%;
        order: 2;
        padding-top: 0px;
    }

    #menu {
        width: 80%;
    }

    .dessert_svg {
        flex: 30%;
    }

    .dessert_text {
        flex: 70%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 1.3em;
    }

    .img__menu {
        flex: 100%;
        padding-bottom: 50px;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 90%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 32%;
        margin-top: 40px;
        font-size: 1.2em;
    }

    /*---seventh contain ---*/
     .contact {
         flex: 100%;
     }

     .contact__img {
         width: 90%;
     }

     .formulary {
         padding-top: 100px;
         flex: 100%;
     }

    .info h2 {
        font-size: 4em;
    }

    .infoTwo p {
        font-size: 1.3em;
    }

    .formulary h2 {
        font-size: 4em;
    }

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }

    /*footer*/

    .log {
        flex: 100%;
    }

    .lg {
        width: 18%;
    }

    .siteLink {
        flex: 100%;
    }

    .references {
        flex:100%;
    }

    #siteLink, #references {
        text-align: center;
        padding-bottom: 40px;
        width: 50%;
    }

    #siteLink h3, #references h3 {
        padding-top: 20px;
        font-size:1.5em ;
        padding-bottom:20px ;
    }
    
    #siteLink h4, #references h4 {
        padding-bottom: 11px;
        font-size: 1.3em;
    }

    .social {
        flex: 100%;
    }

    #social {
        width: 10%;
        margin: 0 auto;
        margin-top: 0;
        margin-left: 46%;
        padding-bottom: 30px;
    }

    #social img {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width:699px) {
    #navbar {
        display: none;
    }

    .device {
        display: block;
    }

    .container {
        top:-160px;
        right: -230px;
    }

    #navBar a {
        font-size:1.2em;
    }

    .logo {
        flex:100%;
        height: 150px;
    }

    .imglogo {
        padding-top: 0px;
        width: 22%;
        margin-left: 6%;
    }

    .main__img {
        flex: 100%;
        height: 550px;
    }

    #main__img {
        width: 90%;
        margin: 0 auto;
    }

    #main__img img {
        width: 100%;
    }

    .main__cta {
        flex: 50%;
    }

    .navFirst {
        display: none;
        top:-700px;
    }


    .red {
        display: none;
        width: 80%;
        margin-left: 66%;
        padding-top: 10px;
    }


    .main__text {
        width: 92%;
        text-align: center;
    }
 
 
    h1 {
        padding-top: 30px;
        font-size: 3.4em;
        padding-bottom: 10px;
    }
 
    .main__text p {
        width: 80%;
        margin:0 auto;
        font-size: 1.4em;
        padding-bottom: 20px;
    }

    .main__text button {
        padding: 12px;
        font-size: 1.4em;
    }

    /*----second contain---*/
    .log {
        flex: 100%;
    }

    .second__img {
        flex: 50%;
    }

    .second__text {
        flex: 100%;
    }

    #second_img {
        width: 96%;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1em;
    }

    .second__text img {
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:410px;
        font-size:1em ;
        text-align:center;
   }

    /*forth contain-*/
    .ice__img {
        flex:100%;
    }

    .ice__img img {
        width: 90%;
        margin-left: 5%;
    }

    .about {
        flex: 100%;
        text-align: center;
    }
 
    .about h2 {
        margin-top: 0px;
        width: 88%;
        font-size: 3.6em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
 
    .about p {
        width: 76%;
        font-size: 1.2em;
        color:#494646;
    }
 
    /*-- fith contain--*/
    .fith__contain {
        padding-bottom: 80px;
    }
    .chef {
        flex: 100%;
        order: 2;
        text-align: center;
    }

    .img__chef {
        padding-top: 50px;
        flex:100%;
        order: 1;
    }

    .img__chef img {
        width: 90%;
        margin-top: 0px;
        margin-left: 5%;
    }

    .chef h2 {
        padding-top: 30px;
        font-size: 3.6em;
        padding-bottom: 10px;
    }
    
    .chef p {
        width: 76%;
        font-size: 1.2em;
        color:#494646;
        padding-bottom: 0px;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 4em;
        padding-bottom: 0px;
    }

    .menu {
        flex:100%;
        order: 2;
        padding-top: 0px;
    }

    #menu {
        width: 80%;
    }

    .dessert_svg {
        flex: 30%;
    }

    .dessert_text {
        flex: 70%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 1.3em;
    }

    .img__menu {
        flex: 100%;
        padding-bottom: 50px;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 90%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 28%;
        margin-top: 40px;
        font-size: 1.2em;
    }

    /*---seventh contain ---*/
     .contact {
         flex: 100%;
     }

     .contact__img {
         width: 90%;
     }

     .formulary {
         padding-top: 100px;
         flex: 100%;
     }

     .infoTwo {
         top:20px;
         left: 80px;
     }

    .info h2 {
        font-size: 3.6em;
        margin-top: -560px;
    }

    .infoTwo p {
        font-size: 1.3em;
    }

    .formulary h2 {
        font-size: 3.6em;
    }

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
    }

    /*footer*/

    .log {
        flex: 100%;
    }

    .lg {
        width: 18%;
    }

    .siteLink {
        flex: 100%;
    }

    .references {
        flex:100%;
    }

    #siteLink, #references {
        text-align: center;
        padding-bottom: 40px;
        width: 50%;
    }

    #siteLink h3, #references h3 {
        padding-top: 20px;
        font-size:1.5em ;
        padding-bottom:20px ;
    }
    
    #siteLink h4, #references h4 {
        padding-bottom: 11px;
        font-size: 1.3em;
    }

    .social {
        flex: 100%;
    }

    #social {
        width: 10%;
        margin: 0 auto;
        margin-top: 0;
        margin-left: 46%;
        padding-bottom: 30px;
    }

    #social img {
        width: 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width:599px) {
    html,body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    #navbar {
        display: none;
    }

    .device {
        display: block;
    }

    .container {
        top:-130px;
        right: -140px;
    }

    #navBar a {
        font-size:1.2em;
    }

    .logo {
        flex:100%;
        height: 110px;
    }

    .imglogo {
        padding-top: 0px;
        width: 22%;
        margin-left: 6%;
    }

    .main__img {
        flex: 100%;
        height: 550px;
    }

    #main__img {
        width: 90%;
        margin: 0 auto;
    }

    #main__img img {
        width: 100%;
    }

    .main__cta {
        flex: 50%;
    }

    .navFirst {
        display: none;
        top:-700px;
    }


    .red {
        display: none;
        width: 80%;
        margin-left: 66%;
        padding-top: 10px;
    }


    .main__text {
        width: 92%;
        text-align: center;
    }
 
 
    h1 {
        padding-top: 30px;
        font-size: 3.4em;
        padding-bottom: 10px;
    }
 
    .main__text p {
        width: 86%;
        margin:0 auto;
        font-size: 1.4em;
        padding-bottom: 20px;
    }

    .main__text button {
        padding: 12px 20px 12px 20px;
        font-size: 1.4em;
    }

    /*----second contain---*/
    .log {
        flex: 100%;
    }

    .second__img {
        flex: 50%;
    }

    .second__text {
        flex: 100%;
    }

    #second_img {
        width: 96%;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1em;
    }

    .second__text img {
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:410px;
        font-size:1em ;
        text-align:center;
   }

    /*forth contain-*/
    .ice__img {
        flex:100%;
    }

    .ice__img img {
        width: 90%;
        margin-left: 5%;
    }

    .about {
        flex: 100%;
        text-align: center;
    }
 
    .about h2 {
        margin-top: 0px;
        width: 88%;
        font-size: 3.6em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
 
    .about p {
        width: 76%;
        font-size: 1.1em;
        color:#494646;
    }
 
    /*-- fith contain--*/
    .fith__contain {
        padding-bottom: 80px;
    }
    .chef {
        flex: 100%;
        order: 2;
        text-align: center;
    }

    .img__chef {
        padding-top: 50px;
        flex:100%;
        order: 1;
    }

    .img__chef img {
        width: 90%;
        margin-top: 0px;
        margin-left: 5%;
    }

    .chef h2 {
        padding-top: 30px;
        font-size: 3.6em;
        padding-bottom: 10px;
    }
    
    .chef p {
        width: 76%;
        font-size: 1.1em;
        color:#494646;
        padding-bottom: 0px;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 3.4em;
        padding-bottom: 0px;
    }

    .menu {
        flex:100%;
        order: 2;
        padding-top: 0px;
    }

    #menu {
        width: 80%;
    }

    .dessert_svg {
        flex: 30%;
    }

    .dessert_text {
        flex: 70%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 1.1em;
    }

    .img__menu {
        flex: 100%;
        padding-bottom: 50px;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 90%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 24%;
        margin-top: 40px;
        font-size: 1.2em;
    }

    /*---seventh contain ---*/
     .contact {
         flex: 100%;
     }

     .contact__img {
         width: 90%;
     }

     .formulary {
         padding-top: 30px;
         flex: 100%;
     }

     .infoTwo {
         width: 90%;
         top:10px;
         left: 60px;
     }

     .info h2 {
         margin-top: -490px;
         font-size:3.6em ;
     }



    .formulary h2 {
        font-size: 3.6em;
    }

    input[type=submit] {
        width: 50%;
        margin-left: 24%;
    }

    /*footer*/

    .log {
        flex: 100%;
    }

    .lg {
        width: 18%;
    }

    .siteLink {
        flex: 100%;
    }

    .references {
        flex:100%;
    }

    #siteLink, #references {
        text-align: center;
        padding-bottom: 40px;
        width: 50%;
    }

    #siteLink h3, #references h3 {
        padding-top: 20px;
        font-size:1.5em ;
        padding-bottom:20px ;
    }
    
    #siteLink h4, #references h4 {
        padding-bottom: 11px;
        font-size: 1.3em;
    }

    .social {
        flex: 100%;
    }

    #social {
        width: 10%;
        margin: 0 auto;
        margin-top: 0;
        margin-left: 46%;
        padding-bottom: 30px;
    }

    #social img {
        width: 100%;
    }
}

@media only screen and (min-width: 400px) and (max-width:499px) {
    html,body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    #navbar {
        display: none;
    }

    .device {
        display: block;
    }

    .container {
        top:-130px;
        right: -60px;
    }

    #navBar a {
        font-size:1.2em;
    }

    .logo {
        flex:100%;
        height: 100px;
    }

    .imglogo {
        padding-top: 0px;
        width: 26%;
        margin-left: 6%;
    }

    .main__img {
        flex: 100%;
        height: 410px;
    }

    #main__img {
        width: 90%;
        margin: 0 auto;
    }

    #main__img img {
        width: 100%;
    }

    .main__cta {
        flex: 50%;
    }

    .navFirst {
        display: none;
        top:-700px;
    }


    .red {
        display: none;
        width: 80%;
        margin-left: 66%;
        padding-top: 10px;
    }


    .main__text {
        width: 92%;
        text-align: center;
    }
 
 
    h1 {
        padding-top: 30px;
        font-size: 3.4em;
        padding-bottom: 10px;
    }
 
    .main__text p {
        width: 86%;
        margin:0 auto;
        font-size: 1.4em;
        padding-bottom: 20px;
    }

    .main__text button {
        padding: 12px 20px 12px 20px;
        font-size: 1.4em;
    }

    /*----second contain---*/
    .log {
        flex: 100%;
    }

    .second__img {
        flex: 50%;
    }

    .second__text {
        flex: 100%;
    }

    #second_img {
        width: 96%;
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1em;
    }

    .second__text img {
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:80%;
        font-size:1em ;
        text-align:center;
   }

    /*forth contain-*/

    .forth__contain {
        padding-top: 120px;
    }

    .ice__img {
        flex:100%;
    }

    .ice__img img {
        width: 90%;
        margin-left: 5%;
    }

    .about {
        flex: 100%;
        text-align: center;
    }
 
    .about h2 {
        margin-top: 0px;
        width: 88%;
        font-size: 3.3em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
 
    .about p {
        width: 80%;
        font-size: 1.1em;
        color:#494646;
    }
 
    /*-- fith contain--*/
    .fith__contain {
        padding-bottom: 80px;
    }
    .chef {
        flex: 100%;
        order: 2;
        text-align: center;
    }

    .img__chef {
        padding-top: 50px;
        flex:100%;
        order: 1;
    }

    .img__chef img {
        width: 90%;
        margin-top: 0px;
        margin-left: 5%;
    }

    .chef h2 {
        padding-top: 30px;
        font-size: 3.3em;
        padding-bottom: 10px;
    }
    
    .chef p {
        width: 80%;
        font-size: 1.1em;
        color:#494646;
        padding-bottom: 0px;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 3em;
        padding-bottom: 0px;
    }

    .menu {
        flex:100%;
        order: 2;
        padding-top: 0px;
    }

    #menu {
        width: 90%;
    }

    .dessert_svg {
        flex: 30%;
    }

    .dessert_text {
        flex: 70%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 1em;
    }

    .img__menu {
        flex: 100%;
        padding-bottom: 50px;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 90%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 16%;
        margin-top: 40px;
        font-size: 1.2em;
    }

    /*---seventh contain ---*/
     .contact {
         flex: 100%;
     }

     .contact__img {
         width: 90%;
     }

     .formulary {
         padding-top: 30px;
         flex: 100%;
     }

     .infoTwo {
        width: 90%;
        top:0px;
        left: 60px;
    }

    .info_foodSvg svg {
        width: 40px;
        height: 40px;
    }

    .info_foodTexto p {
        width: 80%;
        font-size: 1em;
    }

    .info h2 {
        margin-top: -400px;
        font-size:3.6em ;
    }

    .formulary h2 {
        font-size: 3.6em;
    }

    label {
        font-size: 1.6em;
    }

    input[type=submit] {
        width: 60%;
        margin-left: 18%;
    }

    /*footer*/

    .log {
        flex: 100%;
    }

    .lg {
        width: 18%;
    }

    .siteLink {
        flex: 100%;
    }

    .references {
        flex:100%;
    }

    #siteLink, #references {
        text-align: center;
        padding-bottom: 40px;
        width: 50%;
    }

    #siteLink h3, #references h3 {
        padding-top: 20px;
        font-size:1.5em ;
        padding-bottom:20px ;
    }
    
    #siteLink h4, #references h4 {
        padding-bottom: 11px;
        font-size: 1.3em;
    }

    .social {
        flex: 100%;
    }

    #social {
        width: 10%;
        margin: 0 auto;
        margin-top: 0;
        margin-left: 46%;
        padding-bottom: 30px;
    }

    #social img {
        width: 100%;
    }
}

@media only screen and  (max-width:399px) {

    html,body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    #navbar {
        display: none;
    }

    .device {
        display: block;
    }

    .container {
        top:-130px;
        right: 30px;
    }

    #navBar a {
        font-size:1.2em;
    }

    .logo {
        flex:100%;
        height: 90px;
    }

    .imglogo {
        padding-top: 0px;
        width: 26%;
        margin-left: 6%;
    }

    .main__img {
        flex: 100%;
        height: 310px;
    }

    #main__img {
        width: 90%;
        margin: 0 auto;
    }

    #main__img img {
        width: 100%;
    }

    .main__cta {
        flex: 100%;
    }

    .navFirst {
        display: none;
        top:-700px;
    }


    .red {
        display: none;
        width: 80%;
        margin-left: 66%;
        padding-top: 10px;
    }


    .main__text {
        width: 92%;
        text-align: center;
    }
 
 
    h1 {
        padding-top: 20px;
        font-size: 2.6em;
        padding-bottom: 10px;
    }
 
    .main__text p {
        width: 90%;
        margin:0 auto;
        font-size: 1.1em;
        padding-bottom: 20px;
    }

    .main__text button {
        padding: 12px 20px 12px 20px;
        font-size: 1.1em;
    }

    /*----second contain---*/
    .log {
        flex: 100%;
    }

    .second__img {
        flex: 50%;
    }

    .second__text {
        flex: 100%;
    }

    #second_img {
        width: 96%;
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .locationTexto p {
        width: 86%;
        font-size: 1em;
    }

    .second__text img {
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }

    /*---third contain ---**/

    .cake p, .dona p, .drive p { 
        width:80%;
        font-size:1em ;
        text-align:center;
   }

    /*forth contain-*/

    .forth__contain {
        padding-top: 120px;
    }

    .ice__img {
        flex:100%;
    }

    .ice__img img {
        width: 90%;
        margin-left: 5%;
    }

    .about {
        flex: 100%;
        text-align: center;
    }
 
    .about h2 {
        margin-top: 0px;
        width: 88%;
        font-size: 2.9em;
        margin:0 auto;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
 
    .about p {
        width: 90%;
        font-size: 1em;
        color:#494646;
    }
 
    /*-- fith contain--*/
    .fith__contain {
        padding-bottom: 60px;
    }
    .chef {
        flex: 100%;
        order: 2;
        text-align: center;
    }

    .img__chef {
        padding-top: 50px;
        flex:100%;
        order: 1;
    }

    .img__chef img {
        width: 90%;
        margin-top: 0px;
        margin-left: 5%;
    }

    .chef h2 {
        padding-top: 30px;
        font-size: 3em;
        padding-bottom: 10px;
    }
    
    .chef p {
        width: 90%;
        font-size: 1em;
        color:#494646;
        padding-bottom: 0px;
    }

    /*---sixth contain----*/
    .title h2 {
        font-size: 2.4em;
        padding-bottom: 0px;
    }

    .menu {
        flex:100%;
        order: 2;
        padding-top: 0px;
    }

    #menu {
        width: 90%;
    }

    .dessert_svg {
        flex: 30%;
    }

    .dessert_svg svg {
        width: 70px;
        height: 70px;
    }

    .dessert_text {
        flex: 70%;
    }

    .dessert_text p {
        width: 100%;
        font-size: 0.8em;
    }

    .img__menu {
        flex: 100%;
        padding-bottom: 50px;
    }
  
    .img_dessert {
        padding-top: 60px;
        width: 90%;
        margin:0 auto;
        display: none;
    }

    .sixth__contain button {
        margin-left: 8%;
        margin-top: 40px;
        font-size: 1em;
    }

    /*---seventh contain ---*/
     .contact {
         flex: 100%;
     }

     .contact__img {
         width: 100%;
     }

     .formulary {
         padding-top: 30px;
         flex: 100%;
     }

     .infoTwo {
        width: 90%;
        top:30px;
        left: 30px;
    }

    .info_foodSvg svg {
        width: 40px;
        height: 40px;
    }

    .info_foodTexto p {
        width: 100%;
        font-size: 1em;
    }

    .info h2 {
        margin-top: -400px;
        font-size:3em ;
    }

    .formulary h2 {
        font-size: 3em;
    }

    label {
        font-size: 1.6em;
    }

    input[type=submit] {
        width: 80%;
        margin-left: 10%;
    }

    /*footer*/

    .log {
        flex: 100%;
    }

    .lg {
        width: 18%;
    }

    .siteLink {
        flex: 100%;
    }

    .references {
        flex:100%;
    }

    #siteLink, #references {
        text-align: center;
        padding-bottom: 40px;
        width: 50%;
    }

    #siteLink h3, #references h3 {
        padding-top: 20px;
        font-size:1.5em ;
        padding-bottom:20px ;
    }
    
    #siteLink h4, #references h4 {
        padding-bottom: 11px;
        font-size: 1.3em;
    }

    .social {
        flex: 100%;
    }

    #social {
        width: 10%;
        margin: 0 auto;
        margin-top: 0;
        margin-left: 46%;
        padding-bottom: 30px;
    }

    #social img {
        width: 100%;
    }
}




