* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width:100%;
    height: 100%;
}

.main__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
}

.navSecond {
    display: none;
}

.logo {
    flex: 15%;
}

.logo img {
    padding-top:40px ;
    width:70%;
}

.main__img {
    overflow: hidden;
    flex:44%;
    height:950px;
}

.main__img img{
    width:100%;
}

.navFirst {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:90%;
    text-decoration:none;
    position:relative;
    margin:0 auto;
    top:-820px;
}

.navFirst a {
    text-decoration: none;
    font-size:1.8em ;
    color:white;
    font-weight: bold;
}

.navFirst a:hover {
    color:#a27446;
}

/*----navbar hidden---*/

#navbar {
    width:100%;
    height: 80px;
    top:-150px;
    overflow:hidden;
    background-color:#a27446;
    position: fixed;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    transition: top 0.3s;
}

#logohidden {
    flex: 10%;
    overflow:hidden;
}

#logohidden svg{
    padding-top: 5px;
    padding-left:40px ;
}

#navBar {
    flex: 70%;
    overflow: hidden;
}

#navBar nav {
   padding-top: 20px;
   width:60%;
   margin-left:100px;
   display: flex;
   justify-content: space-around;
}

#navBar a {
   
    text-decoration: none;
    font-size:1.8em ;
    color:white;
    font-weight: bold;
}

/*-navbar mobile*/

.device {
	position: relative;
	width: 345px;
	height: 220px;
    display: none;
}

.container {
	position: absolute;
	top:0px; right: 0px;
	bottom: 0; left: 0;
	overflow: hidden;
}
/*style nav*/
.main-nav {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: white;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 2;
    visibility: visible;
}


.main-nav::before {
	content: '';
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8d3d5b;
    transform-origin: 0 0;
    transition: all .275s .1s;
   
}
/* nav ul style*/
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; 
    justify-content: center;
    margin-top:0px ;
    
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: left;
  
}


.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(50px);
    transform:translateX(-50px);
}

.main-nav ul, .main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px ;
	color: white;
	font-size: 1.6em;
	text-decoration: none;
	font-weight: bold;
}

.main-nav a:hover{
    color:#00abbb;
}

.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 3;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
/*simbolo nav */
.burger {
	position: relative;
    display: block;
    right:20px;
    top:50px;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background:#8d3d5b;
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #8d3d5b;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px)  ;
}

.burger:before {
	transform: translateY(-16px) ;
}

.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg) ; background-color:#a27446;
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg); background-color:#a27446;
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}
/*termina burger menu*/

#redSocial {
    flex: 20%;
    overflow: hidden;
}

#redSocial >.facebook  {
    margin-bottom:10px ;
    stroke:#fff;
    fill:transparent;
    width:60px;
    height:60px;
    background-color: #a27446;
}

#redSocial >.instagram {
    padding-top:5px ;
    width:80px;
    height: 80px;
}

.main__cta {
    flex:41%;
    overflow: hidden;
}

.red {
    padding-top: 80px;
    margin-left:360px ;
    width:40%;
}

#red {
    margin-left:10px ;
}

.red svg:hover {
    opacity: 0.9;
}

.main__text {
    margin-top:100px ;
    margin-left: 70px;
    width:80%;
}

h1 {
    width:100%;
    font-size:6em;
    color:#a27446; 
    text-align: start;
    padding-bottom:30px ;
}

.main__text p {
    text-align:start;
    font-size:2.6em ;
    padding-bottom:50px ;
}

.main__text button {
    margin-left:-510px ;
    color:#8d3d5b;
    font-size:1.7em ;
    border: none;
    padding:8px;
    background-color:white ;
    border-top: 4px solid #a27446;
    border-bottom: 4px solid  #a27446;
}

.main__text button:hover{
    border-bottom: 4px solid  #8d3d5b;
    border-top: 4px solid #8d3d5b;
}

/*-------------start second contain------------*/

.second__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
}

.log {
    flex: 15%; 
}

.second__img {
    flex:44%;
}

.second__text {
    flex:41%;
}

.second__text img {
    width:100%;
    margin-top:-80px ;
    margin-left: -80px;
}

.location {
    margin-top:130px ;
    margin-left: 110px;
    margin-bottom: 60px;
    width:60%;
    overflow: hidden;
}

.location span, .clock span {
    color:#a27446;
}

.location p, .clock p {
    text-align: start;
    margin-left:180px ;
    margin-top: -80px;
    width:65%;
    font-size: 180%;
}

.location svg, .clock svg {
    margin-left:-275px ;
}

.clock {
    width:60%;
    overflow: hidden;
    margin-left: 110px;
}

/*-----start third contain------*/

.dona svg {
    stroke:#8d3d5b;
    width:140px;
    height:140px;
}

.cake svg {
    width:150px;
    height: 150px;
}

.drive svg {
    stroke:#8d3d5b;
    fill:#8d3d5b;
    width:200px;
    height:200px;
    z-index:1;
}

.third__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}

.third__contain > div {
    text-align: center;
}

.cake, .dona, .drive {
    flex: auto;
}

.cake, .dona, .drive {
   padding-top: 110px;
}

.cake h3, .dona h3, .drive h3 {
    color:#a27446;
    font-size: 1.3em;
}

.cake p, .dona p, .drive p { 
     width:410px;
     font-size:1.6em ;
     margin: 0 auto;
     color:#494646;
     text-align:start;
}

.cake h3, .dona h3 {
    padding-top:30px ;
    padding-bottom:20px ;
}

.drive h3 {
   margin-top: -30px;
   padding-bottom: 20px;
}

/*inicia forth contain*/

.forth__contain {
    padding-top: 160px;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}

.ice__img { 
   flex:44%;

   overflow: hidden;
}

.ice__img img {
    width:100%;
}

.about {
    flex:41%;
    overflow: hidden;
}

.about h2 {
    margin-top: 110px;
    font-size: 6em;
    color:#a27446;
    padding-left: 70px;
    padding-bottom: 30px;
}

.about p {
    padding-left: 70px;
    width:600px;
    font-size: 2.3em;
}

/*----inicia fith contain------*/

.fith__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    padding-bottom: 130px;
}

.chef {
    flex:44%;
    
}

.img__chef {
    flex: 41%;
}

.img__chef img {
    margin-left: -40px;
    margin-top: -40px;
    width:100%;
}

.chef h2 {
    margin-top: 90px;
    font-size: 6em;
    color:#8d3d5b;
    padding-left: 230px;
    padding-bottom: 20px;
}

.chef p {
    margin:0 auto;
    width:600px;
    font-size: 2.3em; 
}

/*---inicia sixth contain------------*/

.sixth__contain {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    height: auto;
    background: rgb(141,61,91);
    background: -moz-linear-gradient(top, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(141,61,91)), color-stop(88%, rgb(141,61,91)), color-stop(93%, rgb(158,89,115)), color-stop(100%, rgb(255,255,255)));
    background: -webkit-linear-gradient(top, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    background: -o-linear-gradient(top, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    background: -ms-linear-gradient(top, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    background: linear-gradient(to bottom, rgb(141,61,91) 0%, rgb(141,61,91) 88%, rgb(158,89,115) 93%, rgb(255,255,255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d3d5b', endColorstr='#ffffff', GradientType=0 );
}

.title {
    flex:100%; 
    margin:0 auto; 
    text-align: center;
}

.title h2 {
    padding-top: 40px;
    margin:0 auto;
    font-size: 6em;
    color:#FFF;
    padding-bottom: 50px;
}

.menu {
    flex:50%;
    padding-top: 20px;
}

.dessert {
    margin: 0 auto;
}


.dessert p {
   color:#fff;
   font-size: 2em;
   margin-left: 340px;
   margin-top:-20px ;
   position: relative;
   top:-50px; 
   font-weight: bolder;
}

.dessert svg {
    margin-left:210px;
    width:80px;
    height:80px;
    fill:#fff;
}

.sixth__contain button {
    margin-top:30px ;
    margin-left:36% ;
    color:#8d3d5b;
    font-size: 2em;
    padding:17px 35px 17px 35px;
    border:5px solid #a27446;
    font-weight: bold;
}

.sixth__contain button:hover {
    color:#a27446;
}

.img__menu {
    flex: 50%;
    padding-bottom: 110px;
    overflow: hidden;
}

.dot {
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.active svg, .active  {
   fill:#a27446;
}

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
  }
  

.img_dessert {
   width:800px;
   margin:0 auto;
   display: none;
}

.img__menu img {
    width:100%;
}




/*---inicia seventh contain---*/

.seventh__contain {
    padding-top: 150px;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}

.contact {
    flex:50%;
}

.contact__img {
    margin:0 auto;
    width:700px;
}

.contact img {
    width:100%;
}

.formulary {
    flex:50%;
    margin-bottom: 50px;

}

.info h2 {
    text-align: center;
    font-size: 6em;
    margin-top: -660px;
    color:white;
}

.infoTwo {
    width:420px;
    position: relative;
    top:50px;
    left:130px;
}

.infoTwo span {
    font-weight: bolder;
}

.infoTwo p {
    color:#fff;
    font-size: 1.5em;
    width:300px;
    margin-left: 120px;
    margin-top: -70px;
    position: relative;
    top:-15px;
    font-weight: bold;
}

.infoTwo svg {
  fill:#fff;
}

.shedule svg {
    width:100px;
    height: 100px;
}

.formulary h2 {
    padding-top: 160px;
    font-size: 6.3em;
    font-weight: bolder;
    text-align: center;
    color:#8d3d5b;
    padding-bottom:30px ;
}

.formm {
    width:80%;
    margin:0 auto;
}


label {
    color:#a27446;
    font-size: 1.8em;
    font-weight: bolder;
}

input[type=text] {
    margin-top:5px ;
    background: transparent;
    box-sizing: border-box;
    width:95%;
    padding:10px;
    margin-bottom:50px;
    border:none;
    border-bottom: 5px solid #8d3d5b;
}

input[type=submit] {
    margin-left: 35%;
    font-weight: bolder;
    background-color: white;
    color: #8d3d5b;
    font-size:1.8em ;
    padding:15px 45px 15px 45px;
    border: 4px solid #a27446; 
}

input[type=submit]:hover {
    color:#a27446;
}

textarea {
    background-color: transparent;
    resize: none;
    width:95%;
    height:250px;
    border:none;
    border-bottom: 5px solid #8d3d5b;
    margin-bottom:40px;
}

/*---inicia footer----*/

footer {
    margin-top: 150px;
    background-color: #8d3d5b;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    display: flex;
}

.log {
    flex:15%;
}

.lg {
    width:70%;
    margin: 0 auto;
}

.lg img {
    width:100%;
}

.siteLink {
    flex: 30%;
}

#siteLink, #references {
    width:50%;
    margin: 0 auto;
    padding-bottom:80px ;
}

#siteLink h3, #references h3 {
    padding-top: 100px;
    font-size:2em ;
    color:white;
    padding-bottom:20px ;
    font-weight: bolder;
}

#siteLink h4, #references h4 {
    padding-bottom: 11px;
    font-size: 1.6em;
    color:white;
}

.references {
    flex:30%;
}


.social {
    flex:25%;
}

#social {
    margin-top:260px ;
   margin-left: 50%;
}

.copy {
    border-top: 5px solid #fff;
    padding: 20px;
    flex:100%;
    text-align: center;
    color:white;
}

